* {
    outline: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --fonts: Ubuntu, "Open Sans", 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

body {
    background: #f8f9fa;
    overflow-y: auto;
    touch-action: pan-y;
    -webkit-overflow-scrolling: touch;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
	object-fit: cover;
    z-index: -1;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 0;
    height: max-content;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.01);
    padding: 8px 0;
    user-select: none;
    justify-content: center;
    align-items: center;
}

.grow {
    flex-grow: 1;
}

.navbar-brand {
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-size: 18px;
    height: 56px;
    min-height: unset;
    color: #000;
    text-decoration: none;
    margin: 4px;
    user-select: none;
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 4px;
    margin: 0 8px 0 4px;
    user-select: none;
}

.navbar-item {
    padding: 10px 18px;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    margin: 2px 6px;
    border-radius: 6px;
    transition: .25s linear;
    user-select: none;
    white-space: nowrap;
}

.navbar-logo {
    display: flex;
    text-decoration: none;
    user-select: none;
    font-size: 24px;
    height: 42px;
    width: max-content;
    align-items: center;
    justify-content: center;
}

.navbar-logo img {
    width: 42px;
    height: 42px;
    margin: 2px 4px 0 0;
}

.navbar-logo span {
    font-family: var(--fonts);
    color: #3593ff;
}

.login {
    background: #fff;
    color: #3b97ff;
    border: 2px solid #3b97ff;
    padding: 8px 18px;
    transition: .1s linear;
}

.login:hover {
    color: #2289fd;
    border: 2px solid #2289fd;
    background: rgba(211, 250, 255, 0.1);
}

.register {
    background: #3b97ff;
    color: #fff;
    margin-right: 12px;
}

.register:hover {
    background: #2289fd;
}

.landing-container {
    display: flex;
    flex-direction: column;
    height: max-content;
    background: #f5f7fa;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.02);
}

.landing-content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 10dvw 12px;
    margin: 0 6dvw;
    max-width: 60dvw;
}

.landing-title {
    font-size: min(max(6dvw, 28px), 60px);
    font-weight: 800;
    margin-bottom: 12px;
    user-select: none;
    background: linear-gradient(to bottom right, #71b4ff 0%, #0061d7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.landing-subtitle {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 18px;
    user-select: none;
    background: linear-gradient(to bottom right, #5ca4fa 0%, #0058c4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.landing-description {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
    user-select: none;
    color: rgba(94, 114, 144, .8);
}

.landing-slider {
    color: #fff;
    background: #252529;
    border-radius: 6px;
    padding: 12px 18px;
    margin-top: 36px;
    width: max-content;
    user-select: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.landing-buttons {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.landing-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 14px 26px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 500;
    transition: .25s linear;
    user-select: none;
    text-decoration: none;
    background: linear-gradient(to bottom right, #71b4ff 0%, #0061d7 100%);
    color: #fff;
    white-space: nowrap;
}

.landing-button:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.landing-button.primary {
    background: #fff;
    color: #3b97ff;
    border: 2px solid #3b97ff;
}

.landing-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: max-content;
    width: max-content;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.landing-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
    width: max-content;
    position: relative;
    overflow: hidden;
    margin-bottom: 24px;
}

.landing-background img {
    width: max(40dvw, 240px);
    object-fit: cover;
    animation: flex 3s infinite alternate;
}

.lightxi-container {
    display: flex;
    width: 100%;
    height: max-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 26px 12px;
    margin-top: -12px;
}

.lightxi-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 24px;
    width: 100%;
    height: max-content;
    transform: translateY(-36px);
}

.product-container {
    background: #ecf4fa;
}

.product-container .lightxi-icon-background {
    stroke: rgba(201, 218, 231, 0.2);
    color: rgba(201, 218, 231, 0.2);
}

.product-image {
    width: 240px;
    height: 240px;
    border-radius: 12px;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
}

.lightxi-icon-background {
    transform: translate(-60%, 68%);
    width: 126px;
    height: 126px;
    stroke: #f3f5f8;
    color: #f3f5f8;
    z-index: -1;
}

.lightxi-title {
    font-size: 42px;
    font-weight: 700;
    user-select: none;
    color: #333;
    transition: .25s linear;
    cursor: pointer;
}

.lightxi-title::after,
.lightxi-title::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 24px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 10px #f8f9fa;
    border: 2px solid #3b97ff;
    transition: .25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: translateY(-6px);
}

.lightxi-title:hover::after,
.lightxi-title:hover::before {
    margin: 0 32px;
    background: #f5f7fa;
}

.lightxi-subtitle {
    font-size: 18px;
    font-weight: 600;
    user-select: none;
    color: #333;
    cursor: pointer;
    transition: .25s linear;
    margin: 0 6px;
    text-align: center;
    transform: translateX(19px);
}

.lightxi-subtitle::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 39px;
    height: 4px;
    background: #3b97ff;
    bottom: 0;
    right: 0;
    border-radius: 2px;
    transition: .25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: translate(2px, 4px);
}

.lightxi-subtitle:hover::after {
    background: #005fff;

}

.product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 24px 0;
}

.product-item {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 12px;
    width: 300px;
    height: 310px;
    padding: 28px 32px;
    border-radius: 6px;
    transition: .2s ease-out;
    user-select: none;
    text-decoration: none;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    color: #333;
    cursor: pointer;
}

.product-item:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    scale: 1.05;
}

.product-item-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: 100%;
    height: max-content;
    vertical-align: center;
}

.product-item-icon {
    width: 64px;
    height: 64px;
    display: flex;
    fill: #111;
    margin: -4px 0;
    padding: 4px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-shrink: 0;
}

.product-item-tag {
    font-size: 14px;
    font-weight: 600;
    user-select: none;
    color: #fff;
    background: linear-gradient(to right, #1185ff, #006cda);
    padding: 6px 8px;
    border-radius: 4px;
    margin-left: 8px;
    margin-top: 4px;
}

.product-dot {
    width: 8px;
    height: 8px;
    margin: -8px 0 -8px auto;
    flex-shrink: 0;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background: rgb(0, 123, 252);
    transform: translate(16px, -4px);
}

.product-item-title {
    font-size: 24px;
    font-weight: 700;
    user-select: none;
    color: #333;
    margin-top: 2px;
}

.product-item-subtitle {
    user-select: none;
    color: #333;
    font-family: var(--fonts);
    margin-bottom: 4px;
}

.product-item-description {
    user-select: none;
    color: #333;
}

.feature-list {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin: 24px 0;
}

.feature-item {
    width: 300px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    padding: 28px 32px;
    border-radius: 6px;
    transition: .2s ease-out;
    user-select: none;
    text-decoration: none;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: #333;
    border: 1px solid #f0f0f0;
}

.feature-item-title {
    font-size: 24px;
    font-weight: 700;
    user-select: none;
    color: #333;
    transition: .25s;
}

.feature-item:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.feature-item:hover .feature-item-title {
    color: #0052d9;
}

.feature-item-description {
    user-select: none;
    color: #4b5b76;
}

.feature-container .lightxi-title::before,
.feature-container .lightxi-title::after {
    border: 2px solid #1683ff;
}

.feature-item-icon {
    width: 0;
    height: 0;
    z-index: 0;
    opacity: .05;
    margin-left: auto;
    transform: translate(-72px, -50px);
    transition: .25s;
}

.feature-item:hover .feature-item-icon {
    opacity: .08;
}

.feature-item-icon svg {
    position: absolute;
    width: 86px;
    height: 86px;
    color: #4b5b76;
}

@keyframes flex {
    0% {
        transform: translate(2px, 2px);
    }
    50% {
        transform: translate(-2px, 2px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

.feature-container {
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.creative-container {
    position: relative;
    z-index: 1;
    background-image: linear-gradient(to top, #fff 0,#f9fbff 100%);
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.2);
}

.software {
    border: 1px solid #252529;
    background: rgba(24, 23, 23, 0.95);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin: 32px;
    padding: 32px;
    width: 360px;
    height: 240px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    transition: .5s;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.software-title {
    font-size: 24px;
    font-weight: 700;
    user-select: none;
    color: #fff;
    margin-top: 2px;
    transition: .25s;
    font-family: var(--fonts);
}

.software:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}

.software-subtitle {
    user-select: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin: 4px 0;
}

.software-description {
    user-select: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 4px;
}

.software-image {
    width: 0;
    height: 0;
    z-index: 0;
}

.software-image img {
    position: absolute;
    width: 94px;
    height: 94px;
    transform: translateX(204px);
    user-select: none;
}

.team {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
    transform: translateY(12px);
    user-select: none;
}

.team img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 0 2px;
    transition: .25s;
    cursor: pointer;
    user-select: none;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgba(0,0,0,.3) 0%, rgba(0,0,0,.8) 100%);
    backdrop-filter: saturate(180%);
    width: 100%;
    height: max-content;
    color: #f5f7fa;
    padding: 16px 0;
}

.footer .background {
    position: relative;
    width: 100%;
    height: max-content;
}

.footer .decoration {
    content: '';
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #000;
    border: 8px solid #fff;
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -28px);
    user-select: none;
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    margin: 32px auto;
    width: 100%;
    max-width: 1200px;
    padding: 24px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    gap: 8px;
    width: 180px;
    flex-shrink: 0;
    user-select: none;
    text-decoration: none !important;
}

.list-title {
    font-weight: 550;
    margin-bottom: 8px;
}

.list-item {
    color: #9193a8 !important;
    transition: .25s;
}

.list-item:hover {
    color: #c3c5d0 !important;
}

.footer-list a {
    text-decoration: none;
    color: #fff;
}

.copyright {
    color: #c3c5d0;
    font-size: 14px;
    font-weight: 400;
    margin: 2px 0;
    user-select: none;
}

.copyright.en {
    padding-top: 6px;
    font-family: var(--fonts);
}

.credit {
    width: max-content;
    height: max-content;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    gap: 4px;
}

.credit a {
    font-size: 14px;
    font-weight: 400;
    color: #ccc;
    text-decoration: none;
    transition: .25s;
}

.credit img {
    width: 14px;
    height: 14px;
    margin: 2px;
    transform: translateY(4px);
    transition: .25s;
    opacity: .95;
}

.credit a:hover {
    color: #fff;
}

.credit a:hover img {
    opacity: 1;
}

.footer-link a {
    font-family: var(--fonts);
}

.footer-logo {
    width: 100%;
    max-width: 760px;
    padding: 24px 12px;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 0 auto;
    transform: translate(-34px, -8px);
    user-select: none;
}

.footer-logo .logo {
    width: 72px;
    height: 72px;
    margin-right: 12px;
    transform: translateY(-12px);
}

.footer-nav {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
}

.footer-quote {
    font-size: 16px;
    font-weight: 400;
    user-select: none;
    color: #eee;
}

.social {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: flex-end;
    gap: 1px;
    transform: translateX(2px);
}

.social a {
    width: 24px;
    height: 24px;
    margin: 0 2px;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
}

.bilibili svg {
    padding: 1px;
}

.social svg {
    width: 24px;
    height: 24px;
    color: #eee;
    fill: #eee;
    user-select: none;
}

@media (max-width: 620px) {
    .landing-button {
        font-size: 16px;
        padding: 12px 20px;
    }

    .landing-container {
        padding: 46px 0;
    }

    .landing-wrapper {
        flex-direction: column-reverse;
        align-content: center;
        justify-items: center;
        margin: 0 auto;
    }

    .landing-slider {
        margin: 36px auto 0;
    }

    .landing-content, .landing-buttons {
        justify-content: center;
        text-align: center;
    }

    .landing-subtitle {
        font-size: 20px;
    }

    .landing-title {
        font-size: 32px;
    }

    .landing-slider {
        display: none;
    }

    .landing-content {
        margin: 24px auto;
        padding: 16px 24px;
        max-width: 100dvw;
    }

    .mobile-hidden {
        display: none;
    }

    .software {
        scale: .9;
    }

    .footer-wrapper {
        flex-direction: column;
        align-items: flex-start;
        justify-content: left;
        gap: 36px;
        padding: 12px 42px;
    }

    .footer .background {
        display: none;
    }

    .footer {
        flex-direction: row;
        padding: 0 36px;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .footer-wrapper {
        width: min-content;
        margin: 42px 0 18px;
        padding: 0 4px;
    }

    .footer-list {
        width: max-content;
    }

    .footer-logo {
        padding-right: 4px;
        gap: 6px !important;
        flex-direction: column;
        justify-content: right !important;
        align-items: flex-end !important;
        width: max-content;
        margin: 64px 0 2px auto;
    }

    .credit {
        margin: 332px 0 12px;
        align-items: flex-end !important;
    }

    .footer-logo .logo {
        margin-left: auto;
    }

    .footer-nav {
        text-align: right;
    }

    .landing-background img {
        /* adapter */
        width: 240px;
    }
}

@media (max-width: 760px) {
    .lightxi-subtitle {
        transform: none;
    }

    .lightxi-subtitle::after {
        display: none;
    }
}

@media (max-width: 880px) {
    .footer-logo {
        width: max-content;
        flex-direction: column;
        gap: 24px;
        justify-content: center;
        text-align: center;
    }

    .credit {
        align-items: center;
    }
}

@media (max-width: 480px) {
    .footer {
        padding: 0 16px !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        text-align: center !important;
    }

    .footer-wrapper {
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        text-align: center !important;
        gap: 24px !important;
        width: 100% !important;
    }

    .footer-list {
        text-align: center !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .footer-logo {
        width: 100%;
        flex-direction: column;
        gap: 24px;
        padding: 12px 24px !important;
        margin: 12px 0 !important;
        margin-top: 46px !important;
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important;
        transform: none !important;
    }

    .footer-logo .logo {
        margin: 0;
    }

    .credit {
        align-items: center !important;
        justify-content: center !important;
        text-align: center !important;
        margin: 18px 0;
    }

    .footer-nav {
        text-align: center !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .landing-background img {
        width: 200px;
    }

    .landing-wrapper {
        margin: 0;
        width: 100%;
    }

    .software {
        scale: .8 !important;
        background: none;
        border: 1px solid #fafafa;
    }

    .software * {
        color: #333;
    }
}
